altgraph==0.17
click==7.1.2
future==0.18.2
guidata==1.7.9
guiqwt==3.0.5
numpy==1.20.1
pandas==1.2.3
pefile==2019.4.18
Pillow==8.1.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyqt-tools==1.0.0
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
python-dateutil==2.8.1
python-dotenv==0.15.0
PythonQwt==0.8.3
pytz==2021.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
QtPy==1.9.0
scipy==1.6.1
six==1.15.0
